In [41]:
import pandas as pd
import io

In [42]:
d = "/home/phunguyen/Documents/CDSana_2/output_vdw.csv"

In [43]:
df = pd.read_csv(d)

In [44]:
print (df["detail observed"][0])

    coordination_count                     label  probability
0                    0  "N1 of T3NH0_cyclic (a)"     1.000000
3                    0  "N3 of T3NH0_cyclic (a)"     1.000000
5                    0  "N4 of T3NH0_cyclic (a)"     1.000000
6                    0  "N5 of T3NH0_cyclic (a)"     1.000000
7                    0  "N6 of T3NH0_cyclic (a)"     1.000000
8                    0  "N7 of T3NH0_cyclic (a)"     1.000000
9                    0  "N8 of T3NH0_cyclic (a)"     1.000000
1                    0  "N2 of T3NH0_cyclic (a)"     1.000000
25                   0        "O23 of T2OH0 (a)"     0.999801
26                   0        "O24 of T2OH0 (a)"     0.999801
17                   0        "O18 of T2OH0 (a)"     0.999794
15                   0        "O17 of T2OH0 (a)"     0.999792
23                   0        "O21 of T2OH0 (a)"     0.999791
24                   0        "O22 of T2OH0 (a)"     0.999790
21                   0        "O20 of T2OH0 (a)"     0.999783
19                   0        "O19 of T2OH0 (a)"     0.999781
14                   0        "O14 of T2OH0 (a)"     0.999232
13                   0        "O13 of T2OH0 (a)"     0.999172
4                    0         "N4 of T1NH0 (a)"     0.999155
2                    0         "N3 of T1NH0 (a)"     0.999109
11                   0        "O11 of T2OH0 (a)"     0.998490
12                   0        "O12 of T2OH0 (a)"     0.998395
10                   0        "O10 of T2OH0 (a)"     0.993052
31                   0         "O9 of T2OH0 (a)"     0.991851
22                   0        "O20 of T1OH0 (a)"     0.947303
20                   0        "O19 of T1OH0 (a)"     0.947303
18                   0        "O18 of T1OH0 (a)"     0.947303
27                   0         "O5 of T1OH0 (a)"     0.947303
28                   0         "O6 of T1OH0 (a)"     0.947303
30                   0         "O8 of T1OH0 (a)"     0.947303
16                   0        "O17 of T1OH0 (a)"     0.947303
29                   0         "O7 of T1OH0 (a)"     0.472944

In [45]:
s = df["detail observed"][0]

In [46]:
io.BytesIO(s)

In [47]:
df_detail = pd.read_table(io.BytesIO(s), delim_whitespace=True)

/home/phunguyen/anaconda3/envs/matsci_py27/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [48]:
df_detail[['atom', 'of','func_group', 'a']] = df_detail.label.str.split(expand=True)

In [49]:
df_detail.drop(columns=['of','a'])

    coordination_count                   label  probability atom    func_group
0                    0  N1 of T3NH0_cyclic (a)     1.000000   N1  T3NH0_cyclic
3                    0  N3 of T3NH0_cyclic (a)     1.000000   N3  T3NH0_cyclic
5                    0  N4 of T3NH0_cyclic (a)     1.000000   N4  T3NH0_cyclic
6                    0  N5 of T3NH0_cyclic (a)     1.000000   N5  T3NH0_cyclic
7                    0  N6 of T3NH0_cyclic (a)     1.000000   N6  T3NH0_cyclic
8                    0  N7 of T3NH0_cyclic (a)     1.000000   N7  T3NH0_cyclic
9                    0  N8 of T3NH0_cyclic (a)     1.000000   N8  T3NH0_cyclic
1                    0  N2 of T3NH0_cyclic (a)     1.000000   N2  T3NH0_cyclic
25                   0        O23 of T2OH0 (a)     0.999801  O23         T2OH0
26                   0        O24 of T2OH0 (a)     0.999801  O24         T2OH0
17                   0        O18 of T2OH0 (a)     0.999794  O18         T2OH0
15                   0        O17 of T2OH0 (a)     0.999792  O17         T2OH0
23                   0        O21 of T2OH0 (a)     0.999791  O21         T2OH0
24                   0        O22 of T2OH0 (a)     0.999790  O22         T2OH0
21                   0        O20 of T2OH0 (a)     0.999783  O20         T2OH0
19                   0        O19 of T2OH0 (a)     0.999781  O19         T2OH0
14                   0        O14 of T2OH0 (a)     0.999232  O14         T2OH0
13                   0        O13 of T2OH0 (a)     0.999172  O13         T2OH0
4                    0         N4 of T1NH0 (a)     0.999155   N4         T1NH0
2                    0         N3 of T1NH0 (a)     0.999109   N3         T1NH0
11                   0        O11 of T2OH0 (a)     0.998490  O11         T2OH0
12                   0        O12 of T2OH0 (a)     0.998395  O12         T2OH0
10                   0        O10 of T2OH0 (a)     0.993052  O10         T2OH0
31                   0         O9 of T2OH0 (a)     0.991851   O9         T2OH0
22                   0        O20 of T1OH0 (a)     0.947303  O20         T1OH0
20                   0        O19 of T1OH0 (a)     0.947303  O19         T1OH0
18                   0        O18 of T1OH0 (a)     0.947303  O18         T1OH0
27                   0         O5 of T1OH0 (a)     0.947303   O5         T1OH0
28                   0         O6 of T1OH0 (a)     0.947303   O6         T1OH0
30                   0         O8 of T1OH0 (a)     0.947303   O8         T1OH0
16                   0        O17 of T1OH0 (a)     0.947303  O17         T1OH0
29                   0         O7 of T1OH0 (a)     0.472944   O7         T1OH0